.App-footer {
    background-color: #1c013f;
    color: white;
    padding: 20px;
    text-align: center;
    /* border-top: 1px solid #0a0b0e; */
  }
  
  .App-footer p {
    margin: 0;
    font-size: 14px;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: #5f8bfd;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  